{% extends "base.html" %}

{% block head %}

{% endblock head %}


{% block body %}
<main id="home" class="min-vh-100">
    <section class="hero min-vh-100 d-flex justify-content-center align-items-center flex-column ">
        <div class="title"><p class="display-1 ">Hello there</p></div>
        <div class="buttons">
            <a class="login btn btn-info" href="{{ url_for('pages.signin')}}">LOGIN</a>
            <a class="signup btn btn-info" href="{{ url_for('pages.signup') }}">SIGNUP</a>
        </div>
    </section>
</main>
{% endblock body %}